#root {
  margin: 0 auto;
}

.chargin-style {
  background-color: white;
}

.default-style {
  background-color: black;
}

.header-padding {
  padding: 20px 40px 35px 40px;

  @media (max-width: 768px) {
    padding: 20px 20px 35px 20px;
  }
}

.main-padding {
  padding: 0 40px 0px 40px;

  @media (max-width: 768px) {
    padding: 0 20px 0px 20px;
  }
}

.section-padding {
  padding: 0px 40px 30px 40px;

  @media (max-width: 768px) {
    padding: 0px 20px 30px 20px;
  }
}

.footer-padding {
  padding: 150px 40px 0px 40px;

  @media (max-width: 768px) {
    padding: 100px 20px 0px 20px;
  }
}
